<div class="col-md-12 text-center">
  <h4>Change user password</h4>
  <hr class="star-primary"><br/>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <label for="email">Email address:</label>
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>
  <div class="form-group">
    <label for="password">Password:</label><i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>
  <div class="form-group">
    <label for="password_confirmation">Password confirmation:</label>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>
  <div class="form-group">
    <label for="current_password">Current password:</label><i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary', data: { :disable_with => "Updating password..." } do %>
      <span><i class="fa fa-clock-o"></i></span>
      Change password
    <% end %>
  </div>
<% end %>
<br />
<h4>Destroy my account</h4>
<p> Unhappy? 
  <%= button_to "Destroy my account", registration_path(resource_name), data: { confirm: "Are you sure you want to permanently delete your account?" }, :class=> 'btn btn-danger', method: :delete %>
</p>

<%= link_to "Back", :back %>