<%= form_for (@company), :html => { multipart: true, :class => "form-horizontal center" } do |f| %>
  <div class="form-group"> 
    <%= f.label :name, "Company name:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :name, required: true, class: "form-control", placeholder: "Palmer" %>
    </div>
    <%= f.label :title, "Company title:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :title, required: true, class: "form-control", 
        placeholder: "Palmer Tech" %>
    </div>
  </div>
  <div class="form-group"> 
    <%= f.label :address1, "Company address1:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :address1, required: true, class: "form-control", 
        placeholder: "700 Craighead St" %>
    </div>
    
    <%= f.label :address2, "Company address2:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :address2, class: "form-control", placeholder: "Suite 106" %>
    </div>
  </div>
  <div class="form-group"> 
    <%= f.label :city, "City:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :city, required: true, class: "form-control", 
        placeholder: "Nashville" %>
    </div>
    
    <%= f.label :state, "State:", class: "col-md-2 control-label" %>
    <div class="col-md-1">
      <%= f.collection_select :state_id, State.all, :id, :code, class: "form-control" %>
    </div>
  </div>
  <div class="form-group"> 
    <%= f.label :zip, "Zip code:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :zip, required: true, class: "form-control", 
        placeholder: "37204" %>
    </div>
    
    <%= f.label :facebook, "Facebook account:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :facebook, class: "form-control", placeholder: "https://facebook.com/palmer" %>
    </div>
  </div>
  <div class="form-group"> 
    <%= f.label :google_plus, "Google plus:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :google_plus, class: "form-control", 
        placeholder: "https://plus.google.com/palmer" %>
    </div>
    <%= f.label :twitter, "Twitter account:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :twitter, class: "form-control", placeholder: "https://twitter.com/palmer" %>
    </div>
  </div>
  <div class="form-group"> 
    <%= f.label :dribble, "Dribble account:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :dribble, class: "form-control", placeholder: "https://dribbble.com/palmer" %>
    </div>
    <%= f.label :linkedin, "Linkedin account:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :linkedin, class: "form-control", 
        placeholder: "https://www.linkedin.com/palmer" %>
    </div>
  </div>
  <div class="form-group"> 
    <%= f.label :description, "Company tagline:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_area :description, required: true, class: "form-control", 
        placeholder: "Best Technologies Choices - With best products - For better life" %>
    </div>
    <%= f.label :about, "Company about:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_area :about, required: true, class: "form-control",
        placeholder: "Palmer Tech is one of the best leading tech companies in USA with over 500 millions of customers worldwide, one of the best place to explore tech" %>
    </div>
  </div>
  <div class="form-group"> 
    <%= f.label :logo, "Company Logo:", class: "col-md-2 control-label" %>
    <div class="col-md-4">    
      <%= f.file_field :logo %>
      <%= f.hidden_field :logo_cache %>
    </div>
    <%= f.label :intro_image, "Company Image:", class: "col-md-2 control-label" %>
    <div class="col-md-4">    
      <%= f.file_field :intro_image %>
      <%= f.hidden_field :intro_image_cache %>
    </div>
  </div>
  <div class="form-group"> 
    <%= f.label :css, "Custom CSS:", class: "col-md-2 control-label" %>
    <div class="col-md-4">    
      <%= f.file_field :css %>
      <%= f.hidden_field :css_cache %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2">
      <%= f.button :submit, class: 'btn btn-primary', data: { :disable_with => "Saving..." } do %>
        <span><i class="fa fa-clock-o"></i></span>
        Add Company
      <% end %>
    </div>
  </div>
<% end %>