<% provide(:title, "All companies") %>
<div class="row">
  <div class="col-md-12">
    <h4 class="text-center">Subscribed Companies Details</h4>
    <hr class="star-primary"><br/>
	<div class="row">
	  <div class="col-md-12">
	  	<div class="add-company-button">
	  	  <%= link_to "Add new company", new_company_path, class: "btn btn-success" %>
	  	</div><br/><br/>
	  </div>
	  <div class="col-md-12">
	  <div class="panel panel-default">
	    <div class="table-responsive">
	      <table class="table table-bordered table-hover table-heading">
	        <thead>
	          <tr class="success">
	            <th class="text-center">Company Name</th>
	            <th class="text-center">Title</th>
	            <th class="text-center">Address</th>
	            <th class="text-center">City</th>
	            <th class="text-center">State</th>
	            <th class="text-center">Zip</th>
	            <th class="text-center">Actions</th>
	          </tr>
	        </thead>
	        <tbody class="companies-tab-pane">
	          <% @companies.each do |company| %>
	            <tr class="text-center">
	              <td><%= company.name %></td>
	              <td><%= company.title %></td>
	              <td><%= company.address1 %></td>
	              <td><%= company.city %></td>
	              <td><%= company.state.code %></td>
	              <td><%= company.zip %></td>   
	              <td>
	                <%= link_to "Edit", edit_company_path(company), 
	                    class: "btn btn-sm btn-default" %> |
	                <%= link_to "Delete", company_path(company), method: :delete, data: { confirm: 
	                    "Are you sure you want to delete the company: #{company.name}? click on OK to delete or Cancel to terminate the process" }, 
	                     class: "btn btn-sm btn-danger" %>
	              </td>
	            </tr>
	          <% end %>
	        </tbody>
	      </table>
	    </div>
	  </div></div>
	</div>
  </div>
</div>